main {
  // height: 100vh;
  padding-bottom: 50px;
}

footer {
  height: 40px;
  background-color: rgb(209, 209, 209);
  padding: 15px 0;
  display: flex;
  justify-content: center;
  // flex-direction: row;
  div {
    width: 85vw;
    align-self: center;
    text-align: right;
    
  }
}
